th{
    background-color:rgb(40, 3, 253);
    color: white;
}
tbody td{
    transition: .3s linear;
}
td button{
    visibility: hidden;
    margin-top: 4px;
}
tbody tr:hover td{
    background-color: rgb(40, 3, 253,.5);
    color: white;
}

tbody tr:hover button{
    visibility: visible;
}